html{
	min-height: 600px;
	height: 100%;
}

body{
	height: 100%;
	margin: 0;
	position: relative;

	background-color: #be9999;
}

header{
	position: relative;
	overflow: hidden;
	margin-top: -30px;
	padding: 70px 0;
}

header:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 120%;
	height: 80%;
	margin: 3% -10% 0;
	background: #011931;
	-webkit-transform-origin: left center;
	-ms-transform-origin: left center;
	transform-origin: left center;
	-webkit-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	transform: rotate(-10deg);
	z-index: -1;
}

header:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 120%;
	height: 80%;
	margin: 0 -2% 0;
	background: #DF6209;
	-webkit-transform-origin: right center;
	-ms-transform-origin: right center;
	transform-origin: right center;
	-webkit-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	transform: rotate(10deg);
	z-index: -2;
}
.header_content{
	box-sizing: boder-box;
	width: 100%;
	max-width: 640px;
	height: 100px;
	margin: 0 auto;
	padding: 0px 10px 120px;
	color: #fff;
	text-align: center;
}

nav{
	width: 20%;
	height: 80%;
	top: 0px;
	position: absolute;
}

.nav_content{
	transform: rotate(-10deg);
	display: block;
	padding: 20px;
	margin-left: -8px;
	border-bottom: 3px solid #ffffff;
	font-size: 20px;
	color: #ffffff;
	background-color: #000000;
}

.nav_content:first-child{
	margin-top: 300px;
	border-top: 2px solid #ffffff;
}

.nav_sns{
	display: block;
	margin: 10px;
	padding: 10px;
	background-color: rgb(195, 141, 251);
}

.main{
	height: 100px;
	margin-top: -110px;
	margin-left: 20%;
	background-color: #8b84c4;
}

.main{

}
