a{
	text-decoration: none;
}
html{
	min-height: 600px;
	height: 100%;
}

body{
	height: 100%;
	margin: 0;
	position: relative;
}

header{
	position: relative;
	overflow: hidden;
	width: 100%;
	margin-top: -30px;
	padding: 70px 0;
}

header:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 120%;
	height: 80%;
	margin-left: -30px;
	background: #212121;
	opacity: 0.9;
	transform-origin: left center;
	transform: rotate(-10deg);
	z-index: -1;
}

header:after {
	content: '';
	position: absolute;
	top: 0;
	width: 120%;
	height: 80%;
	margin: 0 -2% 0;
	background: #f5f5f5;
	opacity: 0.9;
	transform-origin: right center;
	transform: rotate(10deg);
	z-index: -2;
}
.header_content{
	box-sizing: boder-box;
	width: 100%;
	max-width: 640px;
	height: 100px;
	margin: 0 auto;
	padding: 0px 10px 120px;
	color: #f5f5f5;
	text-align: center;
}

.nav{
	width: 100%;
	top: 0px;
	position: absolute;
}

.nav_content a{
	width: 16%;
	margin-top: 1px;
	transform: rotate(-10deg);
	transform-origin: left center;
	display: block;
	padding: 20px;
	margin-left: -8px;
	font-size: 20px;
	background-color: #212121;
	opacity: 0.8;
}

.nav_content a:first-of-type{
	margin-top: 304px;
	color: #FFCDD2;
}

.nav_content a:first-of-type:hover{
	background-color: #F44336;
}

.nav_content a:nth-of-type(2){
	color: #BBDEFB;
}

.nav_content a:nth-of-type(2):hover{
	background-color: #2196F3;
}

.nav_content a:nth-of-type(3){
	color: #FFECB3;
}

.nav_content a:nth-of-type(3):hover{
	background-color: #FFC107;
}

.nav_content a:last-of-type{
	color: #C8E6C9;
}

.nav_content a:last-of-type:hover{
	background-color: #4CAF50;
}

.nav_content a:hover{
	width: 20%;
	color: #f5f5f5;
}

.nav_sns a{
	width: 14%;
	display: block;
	margin: 20px;
	padding: 10px;
	color: #ffffff;
}

.nav_sns a:first-of-type{
	background-color: #55acee;
}

.nav_sns a:first-of-type:hover{
	color: #55acee;
}

.nav_sns a:nth-of-type(2){
	background-color: #333333;
}

.nav_sns a:nth-of-type(2):hover{
	color: #333333;
}

.nav_sns a:nth-of-type(3){
	background-color: #1A8CCB;
}

.nav_sns a:nth-of-type(3):hover{
	color: #1A8CCB;
}

.nav_sns a:last-of-type{
	background-color: #ff8800;
}

.nav_sns a:last-of-type:hover{
	color: #ff8800;
}

.nav_sns a:hover{
	background-color: #f5f5f5;
}

.main{
	height: auto;
	margin: -110px 2% 50px 20%;
}

.main_content{
	background-color: #ffffff;
}
